{% extends 'financeiro/base.html' %}

{% block content %}
<div class="container">

<h2>Fornecedor Físico</h2>

<form>
  <div class="form-group">
    <label for="nome">Nome:</label>
    <input type="text" class="form-control" id="nome">
  </div>

  <div class="form-group">
    <label for="id">Identificação:</label>
    <input type="text" class="form-control" id="id">
  </div>

  <div class="form-group">
    <label for="classificacao">Classificação:</label>
    <input type="text" class="form-control" id="classificacao">
  </div>
 <!--
  Tipo pessoa:
  <div class="radio-inline">
      <label><input type="radio" name="optradio">Jurídico</label>
  </div>

  <div class="radio-inline">
    <label><input type="radio" name="optradio">Físico</label>
  </div>
-->
  <div class="form-group">
    <label for="cnpj">CPF:</label>
    <input type="text" class="form-control" id="cnpj">
  </div>

  <div class="form-group">
    <label for="estadual">Inscrição Estadual:</label>
    <input type="text" class="form-control" id="estadual">
  </div>

  <div class="form-group">
    <label for="municipal">Inscrição Municipal:</label>
    <input type="text" class="form-control" id="municipal">
  </div>

  <div class="form-group">
    <label for="endereco">Endereço:</label>
    <input type="text" class="form-control" id="endereco">
  </div>

  <div class="form-group">
    <label for="bairro">Bairro:</label>
    <input type="text" class="form-control" id="bairro">
  </div>

  <div class="form-group">
    <label for="municipio">Município:</label>
    <input type="text" class="form-control" id="municipio">
  </div>

  <div class="form-group">
    <label for="cep">CEP:</label>
    <input type="text" class="form-control" id="cep">
  </div>

  <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">UF
    <span class="caret"></span></button>
       <ul class="dropdown-menu">
        <li><a href="#">BA</a></li>
        <li><a href="#">SP</a></li>
        <li><a href="#">GO</a></li>
        </ul>
   </div>

  <div class="form-group">
    <label for="telefone">Telefone:</label>
    <input type="text" class="form-control" id="telefone">
  </div>

  <div class="form-group">
    <label for="email">Email:</label>
    <input type="text" class="form-control" id="email">
  </div>

<h3>Titular</h3>

  <div class="form-group">
    <label for="nome_titular">Nome:</label>
    <input type="text" class="form-control" id="nome_titular">
  </div>

  <div class="form-group">
    <label for="cpf">CPF:</label>
    <input type="text" class="form-control" id="cpf">
  </div>

  <div class="form-group">
    <label for="funcao">Função:</label>
    <input type="text" class="form-control" id="funcao">
  </div>
</form>
<button type="submit" class="btn btn-default">Salvar</button>
</div>
{% endblock %}
